
.selector {     
    justify-self: center;
    align-self: center;
    display: flex;
    margin: 10px;
    margin-top: 0px;
    width: 80%;
    border: 1px solid rgb(42, 53, 68);
    background-color: rgb(76, 86, 99);
    border-radius: 5px;
    align-items: center;
    justify-content: first baseline;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.37);
    flex-wrap:wrap ;
}


.selectorCard { 
    background-color: rgb(255, 255, 255);   
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 1px solid transparent;
    border-bottom: 3px solid transparent;
    transform: translateY(0);
    flex-shrink: 0;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.185);
}


.selectorCardActive { 
    outline: 2px solid rgb(1, 153, 255);
}

.deleteShow { 
    display: block;
    position: absolute;
    fill: red; 
    width: 20px;
    top: -15px;
    right: -9px;
    transition: all .2s;
}

.deleteHide { 
    display: none;
}

.deleteShow:hover { 
    width: 25px;
}

.thumbnail { 
    width: 10px;
}