#root { 
  height: 100vh;
}

html { 
  user-select: none;
}

body { 
  background-color:rgb(110, 125, 143);

}

.App {
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.canvas-holder { 
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.add-canvas-btn:hover { 
  fill: rgb(177, 224, 255);
}


.timeline { 
  margin-left: auto; 
  margin-right: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
  width: 80%;
  display: flex;
  flex-flow: column;
}
