#root { 
  height: 100vh;
}

html { 
  user-select: none;
}

body { 
  background-color:rgb(110, 125, 143);

}

.App {
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.canvas-holder { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-canvas-btn { 
  text-align: center;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: center;
  justify-self: center;
} 
